@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@500&display=swap');

body{
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    display: grid;
    grid-template-areas: 'green red'
                        'yellow blue';
    grid-gap: 10px;
    border: 30px solid black;
    background-color: black;
    border-radius: 100%;
    height: 400px;
    width: 400px;
}

.blue{
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red{
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}
.green{
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.center{
    background-color: black;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    
    font-family: Roboto;
    font-size: 45px;
    color: white;
    text-align: center;
}

.score{
    color: red;
    font-family: Orbitron;
    margin-top: -50px;
}
.selected{
    opacity: 0.5;
}